*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "maven pro";
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 2em;
}

header{
    display: flex;
    gap: 3em;
    align-items: center;
}

footer{
    margin-top: auto;
    font-weight: 500;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.logo{
    font-size: 26px;
    font-weight: 500;
    padding: 1em 0;
}

.main-nav{
    display: flex;
}

.nav-item-link{
    color: darkslategray;
    padding: 1em;
}

.nav-item-link:hover{
    color: slateblue;
}

/* forms */
.form-group{
    display: flex;
    flex-direction: column;
    margin: .3em 0;
}

.form-control{
    width: 300px;
    padding: .5em 1em;
    border: 1px solid lightslategrey;
    border-radius: 2px;
}

.btn-primary{
    padding: .5em 2em;
    width: 300px;
}

/* image */
.image{
    width: 300px;
    object-fit: fill;
}